# Arquivos de documentação interna e planejamento
Regras_Projeto.md
Blueprint.md
Change_log.md
Check_list.md

# Arquivos de configuração do IDE (WebStorm/IntelliJ)
.idea/

# Arquivos gerados pelo NPM (não mais utilizados)
node_modules/
package-lock.json
tailwind.config.js
/src/
/dist/
